Week2

Exercise:

In [1]:
import pandas as pd
import numpy as np

In [2]:
infected_dataset=pd.read_csv('C:/DATA/data/covid_veri/time_series_covid19_confirmed_global.csv')

In [3]:
infected_dataset

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [4]:
df1= pd.DataFrame(infected_dataset)      
df1["Country/Region"].value_counts()       # her ülkeye ait kaç tane sütün var.

Country/Region
China             33
Canada            14
United Kingdom    11
France            11
Australia          8
                  ..
Honduras           1
Hungary            1
Iceland            1
India              1
Lesotho            1
Name: count, Length: 188, dtype: int64

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Columns: 150 entries, Province/State to 6/15/20
dtypes: float64(2), int64(146), object(2)
memory usage: 311.8+ KB

In [6]:

print(infected_dataset.head(10))   # ilk 10 satırı döndürdü.

                 Province/State       Country/Region      Lat      Long  \
0                           NaN          Afghanistan  33.0000   65.0000
1                           NaN              Albania  41.1533   20.1683
2                           NaN              Algeria  28.0339    1.6596
3                           NaN              Andorra  42.5063    1.5218
4                           NaN               Angola -11.2027   17.8739
5                           NaN  Antigua and Barbuda  17.0608  -61.7964
6                           NaN            Argentina -38.4161  -63.6167
7                           NaN              Armenia  40.0691   45.0382
8  Australian Capital Territory            Australia -35.4735  149.0124
9               New South Wales            Australia -33.8688  151.2093

   1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  \
0        0        0        0        0        0        0  ...   19551   20342
1        0        0        0        0        0        0  ...    1232    1246
2        0        0        0        0        0        0  ...   10050   10154
3        0        0        0        0        0        0  ...     852     852
4        0        0        0        0        0        0  ...      88      91
5        0        0        0        0        0        0  ...      26      26
6        0        0        0        0        0        0  ...   22020   22794
7        0        0        0        0        0        0  ...   12364   13130
8        0        0        0        0        0        0  ...     108     108
9        0        0        0        0        3        4  ...    3109    3112

   6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
0   20917   21459    22142    22890    23546    24102    24766    25527
1    1263    1299     1341     1385     1416     1464     1521     1590
2   10265   10382    10484    10589    10698    10810    10919    11031
3     852     852      852      852      853      853      853      853
4      92      96      113      118      130      138      140      142
5      26      26       26       26       26       26       26       26
6   23620   24761    25987    27373    28764    30295    31577    32785
7   13325   13675    14103    14669    15281    16004    16667    17064
8     108     108      108      108      108      108      108      108
9    3114    3117     3117     3115     3119     3128     3131     3134

[10 rows x 150 columns]

In [7]:
df1["Province/State"].value_counts()

Province/State
Australian Capital Territory    1
Qinghai                         1
Reunion                         1
New Caledonia                   1
Mayotte                         1
                               ..
Guizhou                         1
Guangxi                         1
Guangdong                       1
Gansu                           1
Saint Pierre and Miquelon       1
Name: count, Length: 81, dtype: int64

In [8]:
df1= pd.DataFrame(infected_dataset)

In [9]:
df1

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [10]:
CountryGroup = df1.groupby("Country/Region")

In [11]:
CountryGroup

In [12]:
CountryGroup.sum()

,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,33.000000,65.000000,0,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
Albania,0,41.153300,20.168300,0,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
Algeria,0,28.033900,1.659600,0,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
Andorra,0,42.506300,1.521800,0,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
Angola,0,-11.202700,17.873900,0,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,0,31.952200,35.233200,0,0,0,0,0,0,0,...,464,472,473,481,485,487,489,489,492,505
Western Sahara,0,24.215500,-12.885800,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
Yemen,0,15.552727,48.516388,0,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
Zambia,0,-15.416700,28.283300,0,0,0,0,0,0,0,...,1089,1089,1200,1200,1200,1200,1321,1357,1358,1382
Zimbabwe,0,-20.000000,30.000000,0,0,0,0,0,0,0,...,279,282,287,314,320,332,343,356,383,387

In [13]:
df1.groupby("Country/Region").sum()

,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,33.000000,65.000000,0,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
Albania,0,41.153300,20.168300,0,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
Algeria,0,28.033900,1.659600,0,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
Andorra,0,42.506300,1.521800,0,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
Angola,0,-11.202700,17.873900,0,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,0,31.952200,35.233200,0,0,0,0,0,0,0,...,464,472,473,481,485,487,489,489,492,505
Western Sahara,0,24.215500,-12.885800,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
Yemen,0,15.552727,48.516388,0,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
Zambia,0,-15.416700,28.283300,0,0,0,0,0,0,0,...,1089,1089,1200,1200,1200,1200,1321,1357,1358,1382
Zimbabwe,0,-20.000000,30.000000,0,0,0,0,0,0,0,...,279,282,287,314,320,332,343,356,383,387

In [14]:
df1.groupby("Country/Region").sum("").loc["Canada"]

Province/State    AlbertaBritish ColumbiaGrand PrincessManitobaN...
Lat                                                        671.7607
Long                                                     -1237.6289
1/22/20                                                           0
1/23/20                                                           0
                                        ...
6/11/20                                                       99159
6/12/20                                                       99595
6/13/20                                                      100043
6/14/20                                                      100404
6/15/20                                                      100763
Name: Canada, Length: 149, dtype: object

In [15]:
df1.groupby("Country/Region").sum().loc['China',:]

Province/State    AnhuiBeijingChongqingFujianGansuGuangdongGuang...
Lat                                                       1083.3367
Long                                                      3684.4197
1/22/20                                                         548
1/23/20                                                         643
                                        ...
6/11/20                                                       84216
6/12/20                                                       84228
6/13/20                                                       84286
6/14/20                                                       84335
6/15/20                                                       84378
Name: China, Length: 149, dtype: object

In [16]:
df1[df1["Country/Region"]=="China"]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
49,Anhui,China,31.8257,117.2264,1,9,15,39,60,70,...,991,991,991,991,991,991,991,991,991,991
50,Beijing,China,40.1824,116.4142,14,22,36,41,68,80,...,594,594,594,594,594,595,601,637,673,700
51,Chongqing,China,30.0572,107.8740,6,9,27,57,75,110,...,579,579,579,579,579,579,579,580,582,582
52,Fujian,China,26.0789,117.9874,1,5,10,18,35,59,...,359,359,359,359,360,361,361,361,362,362
53,Gansu,China,37.8099,101.0583,0,2,2,4,7,14,...,139,139,139,139,139,139,139,139,139,139
54,Guangdong,China,23.3417,113.4244,26,32,53,78,111,151,...,1602,1602,1604,1604,1607,1607,1608,1625,1625,1628
55,Guangxi,China,23.8298,108.7881,2,5,23,23,36,46,...,254,254,254,254,254,254,254,254,254,254
56,Guizhou,China,26.8154,106.8748,1,3,3,4,5,7,...,147,147,147,147,147,147,147,147,147,147
57,Hainan,China,19.1959,109.7453,4,5,8,19,22,33,...,170,170,170,170,170,170,171,171,171,171
58,Hebei,China,39.5490,116.1306,1,1,2,8,13,18,...,328,328,328,328,328,328,328,328,331,335
59,Heilongjiang,China,47.8620,127.7615,0,2,4,9,15,21,...,947,947,947,947,947,947,947,947,947,947
60,Henan,China,33.8820,113.6140,5,5,9,32,83,128,...,1276,1276,1276,1276,1276,1276,1276,1276,1276,1276
61,Hong Kong,China,22.3000,114.2000,0,2,2,5,8,8,...,1105,1106,1107,1107,1107,1107,1108,1109,1109,1112
62,Hubei,China,30.9756,112.2707,444,444,549,761,1058,1423,...,68135,68135,68135,68135,68135,68135,68135,68135,68135,68135
63,Hunan,China,27.6104,111.7088,4,9,24,43,69,100,...,1019,1019,1019,1019,1019,1019,1019,1019,1019,1019
64,Inner Mongolia,China,44.0935,113.9448,0,0,1,7,7,11,...,235,235,235,237,237,237,237,237,237,238
65,Jiangsu,China,32.9711,119.4550,1,5,9,18,33,47,...,653,653,653,653,653,653,653,653,653,653
66,Jiangxi,China,27.6140,115.7221,2,7,18,18,36,72,...,932,932,932,932,932,932,932,932,932,932
67,Jilin,China,43.6661,126.1923,0,1,3,4,4,6,...,155,155,155,155,155,155,155,155,155,155
68,Liaoning,China,41.2956,122.6085,2,3,4,17,21,27,...,149,149,149,149,149,149,149,151,151,152
69,Macau,China,22.1667,113.5500,1,2,2,2,5,6,...,45,45,45,45,45,45,45,45,45,45
70,Ningxia,China,37.2692,106.1655,1,1,2,3,4,7,...,75,75,75,75,75,75,75,75,75,75
71,Qinghai,China,35.7452,95.9956,0,0,0,1,1,6,...,18,18,18,18,18,18,18,18,18,18
72,Shaanxi,China,35.1917,108.8701,0,3,5,15,22,35,...,311,311,311,311,311,311,311,311,313,313
73,Shandong,China,36.3427,118.1498,2,6,15,27,46,75,...,792,792,792,792,792,792,792,792,792,792
74,Shanghai,China,31.2020,121.4491,9,16,20,33,40,53,...,677,678,678,678,684,689,690,691,692,695
75,Shanxi,China,37.5777,112.2922,1,1,1,6,9,13,...,198,198,198,198,198,198,198,198,198,198
76,Sichuan,China,30.6171,102.7103,5,8,15,28,44,69,...,578,581,582,582,582,582,583,583,587,588
77,Tianjin,China,39.3054,117.3230,4,4,8,10,14,23,...,193,193,193,194,195,195,196,196,196,196
78,Tibet,China,31.6927,88.0924,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
79,Xinjiang,China,41.1129,85.2401,0,2,2,3,4,5,...,76,76,76,76,76,76,76,76,76,76
80,Yunnan,China,24.9740,101.4870,1,2,5,11,16,26,...,185,185,185,185,185,185,185,185,185,185
81,Zhejiang,China,29.1832,120.0934,10,27,43,62,104,128,...,1268,1268,1268,1268,1268,1268,1268,1268,1268,1268

In [17]:
df1[df1["Country/Region"]=="China"]["1/23/20"].sum()

643

In [18]:
df1["Long"].to_frame()

          Long
0    65.000000
1    20.168300
2     1.659600
3     1.521800
4    17.873900
..         ...
261   6.613081
262  48.516388
263  43.333300
264  71.276093
265  28.233608

[266 rows x 1 columns]

In [19]:
df1.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '6/6/20', '6/7/20', '6/8/20', '6/9/20', '6/10/20', '6/11/20', '6/12/20',
       '6/13/20', '6/14/20', '6/15/20'],
      dtype='object', length=150)

In [20]:
len(df1.columns)

150

In [21]:
df1.drop(["Lat","Long"],axis=1)

,Province/State,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,0,0,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,NaN,Albania,0,0,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,NaN,Algeria,0,0,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,NaN,Andorra,0,0,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,NaN,Angola,0,0,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0,0,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
262,NaN,Yemen,0,0,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
263,NaN,Comoros,0,0,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
264,NaN,Tajikistan,0,0,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
265,NaN,Lesotho,0,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [22]:
df1.index

RangeIndex(start=0, stop=266, step=1)

In [23]:
len(df1.index)

266

In [24]:
df1.index.names

FrozenList([None])

In [25]:
df1.size

39900

In [26]:
df1.sort_values("Long")

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
245,Yukon,Canada,64.2823,-135.0000,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,11,11
244,Northwest Territories,Canada,64.8255,-124.8457,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
36,British Columbia,Canada,49.2827,-123.1207,0,0,0,0,0,0,...,2632,2632,2659,2669,2680,2694,2709,2709,2709,2745
37,Grand Princess,Canada,37.6489,-122.6655,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13
35,Alberta,Canada,53.9333,-116.5765,0,0,0,0,0,0,...,7138,7138,7202,7229,7276,7316,7346,7383,7433,7453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,3109,3112,3114,3117,3117,3115,3119,3128,3131,3134
11,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,1061,1062,1062,1062,1063,1064,1065,1065,1065,1065
111,New Caledonia,France,-20.9043,165.6180,0,0,0,0,0,0,...,20,20,20,21,21,21,21,21,21,21
170,NaN,New Zealand,-40.9006,174.8860,0,0,0,0,0,0,...,1504,1504,1504,1504,1504,1504,1504,1504,1504,1506
105,NaN,Fiji,-17.7134,178.0650,0,0,0,0,0,0,...,18,18,18,18,18,18,18,18,18,18

In [27]:
df1["6/6/20"].mean()      # 6/6/20 gününde tüm dünyadaki ortama enfekte sayısı

25949.812030075187

In [28]:
df1[df1["6/6/20"] == df1["6/6/20"].max()]["Country/Region"].iloc[0]  #  6/6/20 tarihinde maximum enfekte sayısı US aitmiş.

'US'

In [29]:
df1["6/6/20"].max()         #   6/6/20 tarihinde maximum enfekte sayısı

1926538

In [30]:
df1["Country/Region"].nunique

<bound method IndexOpsMixin.nunique of 0                Afghanistan
1                    Albania
2                    Algeria
3                    Andorra
4                     Angola
               ...
261    Sao Tome and Principe
262                    Yemen
263                  Comoros
264               Tajikistan
265                  Lesotho
Name: Country/Region, Length: 266, dtype: object>

In [31]:
df1["Country/Region" ].value_counts()

Country/Region
China             33
Canada            14
United Kingdom    11
France            11
Australia          8
                  ..
Honduras           1
Hungary            1
Iceland            1
India              1
Lesotho            1
Name: count, Length: 188, dtype: int64

In [32]:
df1.shape

(266, 150)

In [33]:
df1.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
count,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,...,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02
mean,21.148043,22.538640,2.086466,2.458647,3.537594,5.390977,7.962406,11.003759,20.969925,23.180451,...,2.594981e+04,2.637496e+04,2.676449e+04,2.722817e+04,2.773058e+04,2.825084e+04,2.873782e+04,2.924391e+04,2.974596e+04,3.020474e+04
std,24.909990,70.466256,27.279200,27.377862,34.083035,47.434934,66.289178,89.313757,219.187744,220.524977,...,1.333309e+05,1.349130e+05,1.363934e+05,1.382464e+05,1.402889e+05,1.424252e+05,1.445871e+05,1.467117e+05,1.484660e+05,1.502466e+05
min,-51.796300,-135.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.907750,-18.093125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.572500e+02,1.572500e+02,1.572500e+02,1.580000e+02,1.625000e+02,1.650000e+02,1.710000e+02,1.722500e+02,1.760000e+02,1.760000e+02
50%,23.488100,20.972650,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.535000e+02,9.710000e+02,9.820000e+02,9.825000e+02,9.825000e+02,9.830000e+02,1.005000e+03,1.005000e+03,1.005000e+03,1.005000e+03
75%,41.143200,77.191525,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.094500e+03,7.117250e+03,7.427000e+03,7.706750e+03,8.005750e+03,8.194000e+03,8.334500e+03,8.452500e+03,8.586500e+03,8.608750e+03
max,71.706900,178.065000,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,...,1.926538e+06,1.944309e+06,1.961781e+06,1.979868e+06,2.000702e+06,2.023590e+06,2.048986e+06,2.074526e+06,2.094058e+06,2.114026e+06

In [34]:
df1.iloc[0:10]["Country/Region"]       # ilk 10 satırın ülke bilgisi

0            Afghanistan
1                Albania
2                Algeria
3                Andorra
4                 Angola
5    Antigua and Barbuda
6              Argentina
7                Armenia
8              Australia
9              Australia
Name: Country/Region, dtype: object

In [35]:
df1.drop(columns=["Province/State"]) #Province/State sütünü silindi.

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
262,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
263,Comoros,-11.645500,43.333300,0,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
264,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
265,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [36]:
df1[1:3]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031

In [37]:
import numpy as np 
import pandas as pd

In [38]:
recovered_dataset=pd.read_csv('C:/DATA/data/covid_veri/time_series_covid19_recovered_global.csv')

In [39]:
recovered_dataset

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1830,1875,2171,2651,3013,3326,3928,4201,4725,5164
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,925,938,945,960,980,1001,1034,1039,1044,1055
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6631,6717,6799,6951,7074,7255,7322,7420,7606,7735
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,741,744,751,757,759,780,781,781,781,789
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,24,24,38,38,40,41,42,61,61,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,68,68,68,76,135,146,156,176,177,177
249,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,23,23,23,23,23,23,28,39,53,79
250,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,67,67,67,67,97,97,97,114,114,114
251,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,2583,2673,2763,2815,2947,3062,3158,3288,3409,3503
252,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [40]:
df2= pd.DataFrame(recovered_dataset)

In [41]:
df2

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,1830,1875,2171,2651,3013,3326,3928,4201,4725,5164
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,925,938,945,960,980,1001,1034,1039,1044,1055
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,6631,6717,6799,6951,7074,7255,7322,7420,7606,7735
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,741,744,751,757,759,780,781,781,781,789
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,24,24,38,38,40,41,42,61,61,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,68,68,68,76,135,146,156,176,177,177
249,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,23,23,23,23,23,23,28,39,53,79
250,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,67,67,67,67,97,97,97,114,114,114
251,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,2583,2673,2763,2815,2947,3062,3158,3288,3409,3503
252,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [42]:
deaths_dataset=pd.read_csv('C:/DATA/data/covid_veri/time_series_covid19_deaths_global.csv')

In [43]:
deaths_dataset

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,327,357,369,384,405,426,446,451,471,478
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,34,34,34,34,34,35,36,36,36,36
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,698,707,715,724,732,741,751,760,767,777
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,4,4,4,4,4,5,5,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,12,12,12,12,12,12,12,12,12,12
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,111,112,112,127,129,136,139,160,164,208
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,48,48,48,48,48,49,49,50,50,50
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
df3= pd.DataFrame(deaths_dataset)

In [45]:
df3

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,327,357,369,384,405,426,446,451,471,478
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,34,34,34,34,34,35,36,36,36,36
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,698,707,715,724,732,741,751,760,767,777
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,4,4,4,4,4,5,5,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,12,12,12,12,12,12,12,12,12,12
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,111,112,112,127,129,136,139,160,164,208
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,48,48,48,48,48,49,49,50,50,50
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
import pandas as pd
import numpy as np

In [47]:
def compare_columns(df1,df2):
    return all (df1.columns == df2.columns)

In [48]:
print(compare_columns(recovered_dataset,infected_dataset))
print(compare_columns(recovered_dataset,infected_dataset))

True
True

In [49]:
df1.drop(columns=["Lat","Long","Province/State"])

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,Albania,0,0,0,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,Algeria,0,0,0,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,Andorra,0,0,0,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,Angola,0,0,0,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Sao Tome and Principe,0,0,0,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
262,Yemen,0,0,0,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
263,Comoros,0,0,0,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
264,Tajikistan,0,0,0,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
265,Lesotho,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [50]:
df2.drop(columns=["Lat","Long","Province/State"])

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,1830,1875,2171,2651,3013,3326,3928,4201,4725,5164
1,Albania,0,0,0,0,0,0,0,0,0,...,925,938,945,960,980,1001,1034,1039,1044,1055
2,Algeria,0,0,0,0,0,0,0,0,0,...,6631,6717,6799,6951,7074,7255,7322,7420,7606,7735
3,Andorra,0,0,0,0,0,0,0,0,0,...,741,744,751,757,759,780,781,781,781,789
4,Angola,0,0,0,0,0,0,0,0,0,...,24,24,38,38,40,41,42,61,61,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,Sao Tome and Principe,0,0,0,0,0,0,0,0,0,...,68,68,68,76,135,146,156,176,177,177
249,Yemen,0,0,0,0,0,0,0,0,0,...,23,23,23,23,23,23,28,39,53,79
250,Comoros,0,0,0,0,0,0,0,0,0,...,67,67,67,67,97,97,97,114,114,114
251,Tajikistan,0,0,0,0,0,0,0,0,0,...,2583,2673,2763,2815,2947,3062,3158,3288,3409,3503
252,Lesotho,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [51]:
df3.drop(columns=["Lat","Long","Province/State"])

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,327,357,369,384,405,426,446,451,471,478
1,Albania,0,0,0,0,0,0,0,0,0,...,34,34,34,34,34,35,36,36,36,36
2,Algeria,0,0,0,0,0,0,0,0,0,...,698,707,715,724,732,741,751,760,767,777
3,Andorra,0,0,0,0,0,0,0,0,0,...,51,51,51,51,51,51,51,51,51,51
4,Angola,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,5,5,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Sao Tome and Principe,0,0,0,0,0,0,0,0,0,...,12,12,12,12,12,12,12,12,12,12
262,Yemen,0,0,0,0,0,0,0,0,0,...,111,112,112,127,129,136,139,160,164,208
263,Comoros,0,0,0,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
264,Tajikistan,0,0,0,0,0,0,0,0,0,...,48,48,48,48,48,49,49,50,50,50
265,Lesotho,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
def make_frame(country:str):
    """Take country name as parameter, return infected, recovered, deaths values as timeseries table.
    pd.DataFrame()
    """
    pass

In [53]:
def make_frame(country:str):
    """Take country name as parameter, return infected, recovered, deaths values as timeseries table.
    
    """

    df = pd.DataFrame({
        'infected' : df_infected.loc[country],
        'recovered': df_recovered.loc[country],
        'deaths': df_deaths.loc[country]
    })
    df.index = pd.to_datetime(df.index, format='%m/%d/%y')
    return df

In [54]:
import matplotlib.pyplot as plt