Week2

Exercise:

In [12]:
import pandas as pd
import numpy as np

In [13]:
infected_dataset=pd.read_csv('C:/DATA/data/covid_veri/time_series_covid19_confirmed_global.csv')

In [14]:
infected_dataset

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [81]:
df1= pd.DataFrame(infected_dataset)      
df1["Country/Region"].value_counts()       # her ülkeye ait kaç tane sütün var.

Country/Region
China             33
Canada            14
United Kingdom    11
France            11
Australia          8
                  ..
Honduras           1
Hungary            1
Iceland            1
India              1
Lesotho            1
Name: count, Length: 188, dtype: int64

In [76]:

print(infected_dataset.head(10))   # ilk 10 satırı döndürdü.

                 Province/State       Country/Region      Lat      Long  \
0                           NaN          Afghanistan  33.0000   65.0000
1                           NaN              Albania  41.1533   20.1683
2                           NaN              Algeria  28.0339    1.6596
3                           NaN              Andorra  42.5063    1.5218
4                           NaN               Angola -11.2027   17.8739
5                           NaN  Antigua and Barbuda  17.0608  -61.7964
6                           NaN            Argentina -38.4161  -63.6167
7                           NaN              Armenia  40.0691   45.0382
8  Australian Capital Territory            Australia -35.4735  149.0124
9               New South Wales            Australia -33.8688  151.2093

   1/22/20  1/23/20  1/24/20  1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  \
0        0        0        0        0        0        0  ...   19551   20342
1        0        0        0        0        0        0  ...    1232    1246
2        0        0        0        0        0        0  ...   10050   10154
3        0        0        0        0        0        0  ...     852     852
4        0        0        0        0        0        0  ...      88      91
5        0        0        0        0        0        0  ...      26      26
6        0        0        0        0        0        0  ...   22020   22794
7        0        0        0        0        0        0  ...   12364   13130
8        0        0        0        0        0        0  ...     108     108
9        0        0        0        0        3        4  ...    3109    3112

   6/8/20  6/9/20  6/10/20  6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
0   20917   21459    22142    22890    23546    24102    24766    25527
1    1263    1299     1341     1385     1416     1464     1521     1590
2   10265   10382    10484    10589    10698    10810    10919    11031
3     852     852      852      852      853      853      853      853
4      92      96      113      118      130      138      140      142
5      26      26       26       26       26       26       26       26
6   23620   24761    25987    27373    28764    30295    31577    32785
7   13325   13675    14103    14669    15281    16004    16667    17064
8     108     108      108      108      108      108      108      108
9    3114    3117     3117     3115     3119     3128     3131     3134

[10 rows x 150 columns]

In [66]:
df1= pd.DataFrame(infected_dataset)

In [67]:
df1

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [68]:
CountryGroup = df1.groupby("Country/Region")

In [69]:
CountryGroup

In [70]:
CountryGroup.sum()

,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,33.000000,65.000000,0,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
Albania,0,41.153300,20.168300,0,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
Algeria,0,28.033900,1.659600,0,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
Andorra,0,42.506300,1.521800,0,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
Angola,0,-11.202700,17.873900,0,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,0,31.952200,35.233200,0,0,0,0,0,0,0,...,464,472,473,481,485,487,489,489,492,505
Western Sahara,0,24.215500,-12.885800,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
Yemen,0,15.552727,48.516388,0,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
Zambia,0,-15.416700,28.283300,0,0,0,0,0,0,0,...,1089,1089,1200,1200,1200,1200,1321,1357,1358,1382
Zimbabwe,0,-20.000000,30.000000,0,0,0,0,0,0,0,...,279,282,287,314,320,332,343,356,383,387

In [71]:
df1.groupby("Country/Region").sum()

,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,33.000000,65.000000,0,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
Albania,0,41.153300,20.168300,0,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
Algeria,0,28.033900,1.659600,0,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
Andorra,0,42.506300,1.521800,0,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
Angola,0,-11.202700,17.873900,0,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,0,31.952200,35.233200,0,0,0,0,0,0,0,...,464,472,473,481,485,487,489,489,492,505
Western Sahara,0,24.215500,-12.885800,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
Yemen,0,15.552727,48.516388,0,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
Zambia,0,-15.416700,28.283300,0,0,0,0,0,0,0,...,1089,1089,1200,1200,1200,1200,1321,1357,1358,1382
Zimbabwe,0,-20.000000,30.000000,0,0,0,0,0,0,0,...,279,282,287,314,320,332,343,356,383,387

In [72]:
df1.groupby("Country/Region").sum("").loc["Canada"]

Province/State    AlbertaBritish ColumbiaGrand PrincessManitobaN...
Lat                                                        671.7607
Long                                                     -1237.6289
1/22/20                                                           0
1/23/20                                                           0
                                        ...
6/11/20                                                       99159
6/12/20                                                       99595
6/13/20                                                      100043
6/14/20                                                      100404
6/15/20                                                      100763
Name: Canada, Length: 149, dtype: object

In [73]:
df1.groupby("Country/Region").sum().loc['Turkey',:]

Province/State          0
Lat               38.9637
Long              35.2433
1/22/20                 0
1/23/20                 0
                   ...
6/11/20            174023
6/12/20            175218
6/13/20            176677
6/14/20            178239
6/15/20            179831
Name: Turkey, Length: 149, dtype: object

In [28]:
df1["Long"].to_frame()

          Long
0    65.000000
1    20.168300
2     1.659600
3     1.521800
4    17.873900
..         ...
261   6.613081
262  48.516388
263  43.333300
264  71.276093
265  28.233608

[266 rows x 1 columns]

In [98]:
df1.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '6/6/20', '6/7/20', '6/8/20', '6/9/20', '6/10/20', '6/11/20', '6/12/20',
       '6/13/20', '6/14/20', '6/15/20'],
      dtype='object', length=150)

In [99]:
len(df1.columns)

150

In [32]:
df1.index

RangeIndex(start=0, stop=266, step=1)

In [100]:
len(df1.index)

266

In [101]:
df1.index.names

FrozenList([None])

In [33]:
df1.size

39900

In [102]:
df1.sort_values("Long")

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
245,Yukon,Canada,64.2823,-135.0000,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,11,11
244,Northwest Territories,Canada,64.8255,-124.8457,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
36,British Columbia,Canada,49.2827,-123.1207,0,0,0,0,0,0,...,2632,2632,2659,2669,2680,2694,2709,2709,2709,2745
37,Grand Princess,Canada,37.6489,-122.6655,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13
35,Alberta,Canada,53.9333,-116.5765,0,0,0,0,0,0,...,7138,7138,7202,7229,7276,7316,7346,7383,7433,7453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,3109,3112,3114,3117,3117,3115,3119,3128,3131,3134
11,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,1061,1062,1062,1062,1063,1064,1065,1065,1065,1065
111,New Caledonia,France,-20.9043,165.6180,0,0,0,0,0,0,...,20,20,20,21,21,21,21,21,21,21
170,NaN,New Zealand,-40.9006,174.8860,0,0,0,0,0,0,...,1504,1504,1504,1504,1504,1504,1504,1504,1504,1506
105,NaN,Fiji,-17.7134,178.0650,0,0,0,0,0,0,...,18,18,18,18,18,18,18,18,18,18

In [103]:
df1["6/6/20"].mean()      # 6/6/20 gününde tüm dünyadaki ortama enfekte sayısı

25949.812030075187

In [111]:
df1[df1["6/6/20"] == df1["6/6/20"].max()]["Country/Region"].iloc[0]  #  6/6/20 tarihinde maximum enfekte sayısı US aitmiş.

'US'

In [108]:
df1["6/6/20"].max()         #   6/6/20 tarihinde maximum enfekte sayısı

1926538

In [113]:
df1["Country/Region"].nunique

<bound method IndexOpsMixin.nunique of 0                Afghanistan
1                    Albania
2                    Algeria
3                    Andorra
4                     Angola
               ...
261    Sao Tome and Principe
262                    Yemen
263                  Comoros
264               Tajikistan
265                  Lesotho
Name: Country/Region, Length: 266, dtype: object>

In [119]:
df1["Country/Region" ].value_counts()

Country/Region
China             33
Canada            14
United Kingdom    11
France            11
Australia          8
                  ..
Honduras           1
Hungary            1
Iceland            1
India              1
Lesotho            1
Name: count, Length: 188, dtype: int64

In [36]:
df1.shape

(266, 150)

In [38]:
df1.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
count,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,...,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02
mean,21.148043,22.538640,2.086466,2.458647,3.537594,5.390977,7.962406,11.003759,20.969925,23.180451,...,2.594981e+04,2.637496e+04,2.676449e+04,2.722817e+04,2.773058e+04,2.825084e+04,2.873782e+04,2.924391e+04,2.974596e+04,3.020474e+04
std,24.909990,70.466256,27.279200,27.377862,34.083035,47.434934,66.289178,89.313757,219.187744,220.524977,...,1.333309e+05,1.349130e+05,1.363934e+05,1.382464e+05,1.402889e+05,1.424252e+05,1.445871e+05,1.467117e+05,1.484660e+05,1.502466e+05
min,-51.796300,-135.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.907750,-18.093125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.572500e+02,1.572500e+02,1.572500e+02,1.580000e+02,1.625000e+02,1.650000e+02,1.710000e+02,1.722500e+02,1.760000e+02,1.760000e+02
50%,23.488100,20.972650,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.535000e+02,9.710000e+02,9.820000e+02,9.825000e+02,9.825000e+02,9.830000e+02,1.005000e+03,1.005000e+03,1.005000e+03,1.005000e+03
75%,41.143200,77.191525,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.094500e+03,7.117250e+03,7.427000e+03,7.706750e+03,8.005750e+03,8.194000e+03,8.334500e+03,8.452500e+03,8.586500e+03,8.608750e+03
max,71.706900,178.065000,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,...,1.926538e+06,1.944309e+06,1.961781e+06,1.979868e+06,2.000702e+06,2.023590e+06,2.048986e+06,2.074526e+06,2.094058e+06,2.114026e+06

In [79]:
df1.iloc[0:10]["Country/Region"]       # ilk 10 satırın ülke bilgisi

0            Afghanistan
1                Albania
2                Algeria
3                Andorra
4                 Angola
5    Antigua and Barbuda
6              Argentina
7                Armenia
8              Australia
9              Australia
Name: Country/Region, dtype: object

In [41]:
df1.drop(columns=["Province/State"]) #Province/State sütünü silindi.

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,...,19551,20342,20917,21459,22142,22890,23546,24102,24766,25527
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,852,852,852,852,852,852,853,853,853,853
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,88,91,92,96,113,118,130,138,140,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,0,...,499,513,513,514,611,632,639,659,661,662
262,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,482,484,496,524,560,591,632,705,728,844
263,Comoros,-11.645500,43.333300,0,0,0,0,0,0,0,...,141,141,141,141,162,162,163,176,176,176
264,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,0,...,4453,4529,4609,4690,4763,4834,4902,4971,5035,5097
265,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,4

In [48]:
df1[1:3]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,1232,1246,1263,1299,1341,1385,1416,1464,1521,1590
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,10050,10154,10265,10382,10484,10589,10698,10810,10919,11031